/********** Template CSS **********/
:root {
    --primary: #008FF9;
    --secondary: #191C24;
    --light: #b0b5d1;
    --dark: #000000;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.move-up:hover {
    transition: all .5s;
    transform: translateY(-10px);
}

/* ==================== 
border-glows
======================= */
.green-border-glow {
    background: -webkit-gradient(linear, left top, right top, from(#4eb36c), to(#4c865e));
    background: linear-gradient(90deg, #4eb36c 0%, #4c865e 100%);
    border-radius: 0.5rem;
    border-top: 3px;
    border-style: solid;
    border-color: #4eb36c;
    box-shadow: 0 0 10px #9ae79a;
}
.purple-border-glow {
    background: -webkit-gradient(linear, left top, right top, from(#8552e6), to(#7052a7));
    background: linear-gradient(90deg, #8552e6 0%, #7052a7 100%);
    border-radius: 0.5rem;
    border-top: 3px;
    border-style: solid;
    border-color: #8552e6;
    box-shadow: 0 0 10px #b396e9;
}
.red-border-glow {
    background: -webkit-gradient(linear, left top, right top, from(#eb2727), to(#a14141));
    background: linear-gradient(90deg, #eb2727 0%, #a14141 100%);
    border-radius: 0.5rem;
    border-top: 3px;
    border-style: solid;
    border-color: #eb2727;
    box-shadow: 0 0 10px #e68181;
}
.pink-border-glow {
    background: -webkit-gradient(linear, left top, right top, from(#da48c1), to(#8a4b7f));
    background: linear-gradient(90deg, #da48c1 0%, #8a4b7f 100%);
    border-radius: 0.5rem;
    border-top: 3px;
    border-style: solid;
    border-color: #da48c1;
    box-shadow: 0 0 10px #e07ed0;
}
.dark-green-border-glow {
    background: -webkit-gradient(linear, left top, right top, from(#208020), to(#3d6d3d));
    background: linear-gradient(90deg, #208020 0%, #3d6d3d 100%);
    border-radius: 0.5rem;
    border-top: 3px;
    border-style: solid;
    border-color: #208020;
    box-shadow: 0 0 10px #5daa5d;
}

/* ==================== 
bg-glows
======================= */
.green-bg-glow {
    background-color: rgba(23, 23, 24, 0.089);
    border-radius: 0.5rem;
    padding: 1rem;
    border-top: 3px;
    border-style: solid;
    border-color: #4eb36c;
    box-shadow: 0 0 10px #9ae79a;
}

.green-bg-glow:hover {
    background: -webkit-gradient(linear, left top, right top, from(#4eb36c), to(#4eb36c));
    background: linear-gradient(90deg, #4eb36c 0%, #4eb36c 100%);
    border-radius: 0.5rem;
    border-top: 3px;
    border-style: solid;
    border-color: #4eb36c;
    box-shadow: 0 0 10px #9ae79a;
}

.purple-bg-glow {
    background-color: rgba(23, 23, 24, 0.089);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-top: 3px;
    border-style: solid;
    border-color: #8552e6;
    box-shadow: 0 0 10px #b396e9;
}

.purple-bg-glow:hover {
    background: -webkit-gradient(linear, left top, right top, from(#8552e6), to(#8552e6));
    background: linear-gradient(90deg, #8552e6 0%, #8552e6 100%);
    border-radius: 0.5rem;
    border-top: 3px;
    border-style: solid;
    border-color: #8552e6;
    box-shadow: 0 0 10px #b396e9;
}
/* ==================== 
Gradient Button
======================= */

.btn-green {
    text-transform: uppercase;
    display: inline-block;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 50px;
    background: -webkit-gradient(linear, left top, right top, from(#4eb36c), to(#9ae79a));
    background: linear-gradient(90deg, #4eb36c 0%, #9ae79a 100%);
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-green:hover {
    color: #000535;
    background: -webkit-gradient(linear, left top, right top, from(#9ae79a), to(#4eb36c));
    background: linear-gradient(90deg, #9ae79a 0%, #4eb36c 100%);
    background-color: #a39da0;
    border-color: #c7bef3
}

.btn-check:focus+.btn-green,
.btn-green:focus {
    color: #fff;
    background-color: #4eb36c;
    border-color: #4eb36c;
    box-shadow: 0 0 0 .25rem #9ae79ac4;
}

.btn-purple {
    text-transform: uppercase;
    display: inline-block;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 50px;
    background: -webkit-gradient(linear, left top, right top, from(#8552e6), to(#b396e9));
    background: linear-gradient(90deg, #8552e6 0%, #b396e9 100%);
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-purple:hover {
    color: #000535;
    background: -webkit-gradient(linear, left top, right top, from(#b396e9), to(#8552e6));
    background: linear-gradient(90deg, #b396e9 0%, #8552e6 100%);
    background-color: #a39da0;
    border-color: #c7bef3
}

.btn-check:focus+.btn-purple,
.btn-purple:focus {
    color: #fff;
    background-color: #8552e6;
    border-color: #8552e6;
    box-shadow: 0 0 0 .25rem #b396e9c4;
}

.btn-red {
    text-transform: uppercase;
    display: inline-block;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 50px;
    background: -webkit-gradient(linear, left top, right top, from(#eb2727), to(#e68181));
    background: linear-gradient(90deg, #eb2727 0%, #e68181 100%);
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-red:hover {
    color: #000535;
    background: -webkit-gradient(linear, left top, right top, from(#e68181), to(#eb2727));
    background: linear-gradient(90deg, #e68181 0%, #eb2727 100%);
    background-color: #a39da0;
    border-color: #c7bef3
}

.btn-check:focus+.btn-red,
.btn-red:focus {
    color: #fff;
    background-color: #eb2727;
    border-color: #eb2727;
    box-shadow: 0 0 0 .25rem #e68181c4;
}

.btn-white-black {
    text-transform: uppercase;
    display: inline-block;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 50px;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#7d7d7e));
    background: linear-gradient(90deg, #7d7d7e 0%, #ffffff 100%);
    color: #000535;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-white-black:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#7d7d7e), to(#ffffff));
    background: linear-gradient(90deg, #7d7d7e 0%, #ffffff 100%);
    background-color: #a39da0;
    border-color: #e1deee
}

.btn-check:focus+.btn-white-black,
.btn-white-black:focus {
    color: #000535;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 0 0 .25rem #ffffffc4;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}