html {
    font-family: sans-serif;
    background-image: -webkit-radial-gradient(rgb(82, 11, 11), rgb(71, 9, 9));
    justify-content: center;
    align-items: center;
}


.poker-table {
    background-repeat: no-repeat;
    left: 350px;
    position: absolute;
    height: 411px;
    width: 745px;
}

.seat {
    height: 150px;
    position: absolute;
    width: 150px;

}

#button {
    background-image: url('../images/dealerbutton.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 19px;
    position: absolute;
    width: 24px;
}

.name-chips {
    background-color: rgb(104, 10, 46);
    border-radius: 4px;
    color: white;
    font-size: 14px;
    height: 33px;
    position: absolute;
    padding-bottom: 2px;
    text-align: center;
    top: 65px;
    width: 140px;
    box-shadow: #411f1f 5;
}

.player-name {
    width: 100%;
}

.card {
    background-image: url('../images/cardback.png');
    background-size: 100%;
    border-radius: 4px;
    height: 73px;
    width: 50px;
}

.card:hover {
    scale: 1.5;
    translate: 0% -40%
}

.holecards {
    float: left;
    height: 73px;
    left: 20px;
    position: absolute;
    top: 3px;
    width: 102px;
}

.holecard1 {
    left: 0px;
    position: absolute;
}

.holecard2 {
    left: 50px;
    position: absolute;
}


.bet {
    color: white;
    font-size: 12px;
    left: 40px;
    position: absolute;
    top: 0px;
    text-shadow: -1px 0     black, 0 1px     black, 1px 0     black, 0 -1px     black;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

#seat0 {
    left: 0px;
    top:  330px;
}
.seat0-button {
    left: 235px;
    top:  410px;
}
#seat0 .bet {
    top: -20px;
}

#seat1 {
    left:  -50px;
    top: 155px;
}
.seat1-button {
    left: 185px;
    top:  235px;
}
#seat1 .bet {
    top: 100px;
}

#seat2 {
    left: 0px;
    top:  0px;
}
.seat2-button {
    left: 235px;
    top:   80px;
}
#seat2 .bet {
    top: 100px;
}

#seat3 {
    left: 200px;
    top:    0px;
}

.seat3-button {
    left: 280px;
    top:   80px;
}
#seat3 .bet {
    top: 100px;
}

#seat4 {
    left: 400px;
    top:    0px;
}

.seat4-button {
    left: 480px;
    top:   80px;
}
#seat4 .bet {
    top: 100px;
}

#seat5 {
    left: 600px;
    top:    0px;
}

.seat5-button {
    left: 680px;
    top:   80px;
}
#seat5 .bet {
    top: 100px;
}

#seat6 {
    left: 650px;
    top:  155px;
}
.seat6-button {
    left: 730px;
    top:  235px;
}
#seat6 .bet {
    top: 100px;
}

#seat7 {
    left: 600px;
    top:  330px;
}
.seat7-button {
    left: 680px;
    top:  410px;
}
#seat7 .bet {
    top: -20px;
}

#seat8 {
    left: 400px;
    top:  330px;
}
.seat8-button {
    left: 480px;
    top:  410px;
}
#seat8 .bet {
    top: -20px;
}

#seat9 {
    left: 200px;
    top:  330px;
}
.seat9-button {
    left: 280px;
    top:  410px;
}
#seat9 .bet {
    top: -20px;
}


#board {
    left: 250px;
    position: absolute;
    top:  168px;
}

#pot {
    color: white;
    font-size: 16px;
    left: 325px;
    position: absolute;
    text-align: center;
    top: 245px;
}

.boardcard {
    height: 73px;
    left: 0px;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    width: 50px;
}

/* #flop1 {
} */

#flop2 {
    left: 52px;
}

#flop3 {
    left: 104px;
}

#turn {
    left: 156px;
}

#river {
    left: 208px;
}

#burn1 {
    left: 280px;
    rotate: -18deg;
}
#burn2 {
    left: 290px;
}
#burn3 {
    left: 300px;
    rotate: 15deg;
}

#action-options {
    height: 100px;
    left: 650px;
    position: absolute;
    top: 500px;
    width: 500px;
}

.action-button {
    background-color: rgb(110, 62, 7);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    left: 0px;
    padding: 10px 15px 0 15px;
    position: absolute;
    top: 0px;
    border: 2px solid  rgb(218, 124, 58) ;
    box-shadow: 0px 0px 5px rgb(214, 218, 23) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#setup-options {
    height: 400px;
    left: 900px;
    position: absolute;
    top: 200px;
    

    width: 200px;
}

.setup-button {
    background-color: rgb(4, 40, 49);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    left: 500px;
    padding: 10px 5px 0px 5px;
    position: absolute;
    text-align: center;
    bottom: 500px;
    width: 160px;
}
.setup-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#speed-button {
    cursor: default;
    bottom: 450px;
}

select {
    background-color: silver;
    background: silver;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 3em;
}

#mode-button {
    bottom: 400px;
}

#help-button {
    bottom: 350px;
}

#check-button {
    bottom: 300px;
}

#history {
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    height: 600px;
    left: 50px;
    position: absolute;
    top: 600px;
    width: 400px;
}

#game-response {
    justify-content: center;
    align-items: center;
    border: none;
    color: black;
    font-size: 12px;
    /* height: 300px;
    left: 900px; */
    position: absolute;
    text-align: center;
    top: 5px;
    width: 600px;
    margin-left: 450px;
    margin-top: -29px;
}
.logo{
    background-image: -webkit-radial-gradient(rgb(82, 11, 11), rgb(71, 9, 9));
    /* background: #6d0424; */
    padding: 10px;
    display: flex;
}
.logo img{
    width: 150px;
}

#production-code {
    color: black;
    font-size: 10px;
    height: 20px;
    left: 900px;
    position: absolute;
    text-align: right;
    top: 310px;
    width: 600px;
}

.response-normal {
    background-color: transparent;
}


.response-warning {
    background-color: #FF0000;
}

#fold-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#call-button {
    left: 80px;
}

#call-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#quick-raises {
    background-color: rgb(6, 3, 31);
    border:2px solid gold;
    box-shadow: 0px 0px 10px goldenrod;
    border-radius: 4px;
    font-size: 18px;
    height: 75px;
    left: 25px;
    position: absolute;
    text-align: center;
    top: 540px;
    width: 350px;
    padding: 10px;
    color: antiquewhite;
}
#quick-raises a:link {
    color: white;
    text-shadow: 3px 3px 5px #000000;
    text-decoration: none;
}
#quick-raises a:hover {
    color: gold;
    text-shadow: 3px 3px 7px #000000;
}


#modal-box {
    background-color: rgba(8, 18, 59, 0.9);
    display: none;
    color: rgb(36, 31, 82);
    font-size: 12px;
    height: 84%;
    left: 100px;
    display:inline-block;
    border-radius: 10px;
    overflow: auto; /* Enable scroll */
    position: fixed;
    text-align: center;
    top: 50px;
    width: 80%;
    z-index: 1;  /* Stay on top */
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(201, 191, 191);
}
@keyframes slide-in {
    0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
#modal-box img{
    /* display: flex; */
    animation: 1s ease-out 0s 1 slide-in;
    position: absolute;
    margin-left: 530px;
    margin-top:40px;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#modal-box a:link {
    margin-left: -390px;
    color: rgb(141, 11, 113);
    border: 3px solid rgb(141, 11, 113);
    text-decoration: none;
    font-size: 1.5rem;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* box-shadow: 5px 5px 5px rgb(51, 51, 44); */
    padding: 10px 30px 10px 30px;
    border-radius: 25px;

}
#modal-box a:hover {
    color: white;
    background: rgb(141, 11, 113);
    
}

.box{
    background:white;
    padding: 20px 20px 20px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 25px rgba(231, 191, 9, 0.5);
    border:3px solid  rgba(0, 0, 0, 0.973);
    display: flex;
    margin-left: -400px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.box .slider{
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.box .slider input{
    height: 20%;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    background: rgb(111, 233, 55);
    border-radius: 25px;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}
.box .value{
    font-size: 60px;
    font-weight: 600;
    font-family: sans-serif;
    color:#6d0424;
    width: 55px;
    text-align: center;
}
/* .start-button{
    font-size: 10px;
    font-family: sans-serif;
} */